<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%}Survey{% endblock %}</title>
  <link link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  {% block content %}
    <h1>{{survey.title}}</h1>
    <h3>{{survey.instructions}}</h3>
    <form action="/responses" method="post">
      <button class="link-button">Begin</button>
    </form>
  {% endblock %}
</body>
</html>